{% extends "base.html" %}


{% block content %}
<div class="col-xl-12 col-lg-12  col-sm-12 col-md-12 col-12 row">


<img  style="height: 40%; width: 40%; margin: auto; padding-top: 50px;" class="logo" src="/static/img/logo2.png"  >

   <h3 style="text-align: center; padding-top: 40px;" >O Nama</h3> 
   <p style="text-align: center;">Tehno shop media market je BiH internet prodavnica. Specijalizirani smo za online prodaju širokog spektra IT proizvoda</p>

<div class="row" style="max-width: 1300px; margin: auto;">
    <div class="card text-center" style="width: 18rem;  margin: auto;">
        <div class="card-body">
            <img src="/static/img/icon4.jpg" >
          <h5 class="card-title">Prava IT podrška</h5>
          <p class="card-text">Naša kompanija je specijalizirana za IT proizvode i od nas možete očekivate kompletne i korisne informacije</p>
    
        </div>
      </div>
      <div class="card text-center" style="width: 18rem;  margin: auto;">
        <div class="card-body">
            <img src="/static/img/icon4.jpg" >
          <h5 class="card-title">Prava IT podrška</h5>
          <p class="card-text">Naša kompanija je specijalizirana za IT proizvode i od nas možete očekivate kompletne i korisne informacije</p>
    
        </div>
      </div>
      <div class="card text-center" style="width: 18rem;  margin: auto;">
        <div class="card-body">
            <img src="/static/img/icon4.jpg" >
          <h5 class="card-title">Prava IT podrška</h5>
          <p class="card-text">Naša kompanija je specijalizirana za IT proizvode i od nas možete očekivate kompletne i korisne informacije</p>
    
        </div>
      </div>
  <div class="card text-center" style="width: 18rem;  margin: auto;">
    <div class="card-body">
        <img src="/static/img/icon4.jpg" >
      <h5 class="card-title">Prava IT podrška</h5>
      <p class="card-text">Naša kompanija je specijalizirana za IT proizvode i od nas možete očekivate kompletne i korisne informacije</p>

    </div>
  </div>
</div>
</div>

<div class="row" style="max-width: 1300px; margin: auto; padding-top: 30px;" >
    <div class="col-sm-6">
      <div class="card" style="border: none;">
        <div class="card-body" >
          <h5 class="card-title">Tehno shop media market</h5>
          <p class="card-text">ABCShop.ba je BiH internet prodavnica. Specijalizirani smo za online prodaju širokog spektra IT proizvoda,</p>
          <li style="padding-top: 6px;">računarske opreme,</li>
          <li style="padding-top: 6px;">laptop, računari, tableti,</li>
          <li style="padding-top: 6px;">monitori, led televizori, business ekrani, pametne ploče,</li>
          <li style="padding-top: 6px;">periferija, komponente, telefoni, tableti, dodatna oprema</li>
          <li style="padding-top: 6px;"> printera i potrošnog materijala</li>
          <li style="padding-top: 6px;"> bijele tehnike i malih kućanskih aparata</li>
         <li style="padding-top: 6px;">bijele tehnike i malih kućanskih aparata</li>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card" style="border: none;">
            <div class="card-body">
              <h5 class="card-title">Prodaja i logistika</h5>

              <li style="padding-top: 10px;">Pored navedenog, na našem web shopu je moguće pronaći i druge srodne proizvode. Trenutno naše kupce opslužujemo sa preko 10.000 proizvoda serviranih od nekolicine ovlaštenih domaćih distributera.</li>
              <li style="padding-top: 15px;">Svi naši proizvodi su proizvodi iz legalnom distributerskog kanala, sa garancijama od ovlaštenih servisa u Bosni i Hercegovini.</li>
              <li style="padding-top: 15px;">Nalazimo se u Sarajevu, a naše kupce opslužujemo na prostoru cijele Bosne i Hercegovine putem brze pošte ili naše interne dostave.</li>


            </div>
          </div>
    </div>
  </div>
  <div class="row" style="max-width: 1300px; margin: auto; padding-top: 30px;" >
    <div class="col-sm-6">
      <div class="card" style="border: none;">
        <div class="card-body">
          <h5 class="card-title">Kontaktirajte nas</h5>
          <p class="card-text">Za sve vaše upite i ponude kontaktirajte nas na</p>
          <li style="padding-top: 6px;">Tehno shop media market,: Stupska bb, Tibra 2, 71000 Sarajevo</li>
          <li style="padding-top: 6px;">+387 62 625 500 / +387 62 695 500</li>
          <li style="padding-top: 6px;">+info@abcshop.ba</li>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card" style="border: none;">
            <div class="card-body">
              <h5 class="card-title">Kako kupiti proizvod</h5>

              <li style="padding-top: 10px;">Našu ponudu možete pratiti putem:</li>
              <li style="padding-top: 15px;"><a href="www.Tehno shop media market.ba">web stranice www.Tehno shop media market.ba</a></li>
              <li style="padding-top: 15px;"><a href="www.olx.com">olx stranice thmm.olx.ba</a></li>
              <li style="padding-top: 15px;"><a href="www.facebook.com">stranice www.facebook.com/thmm/</a> </li>


            </div>
          </div>
    </div>
  </div>
{% endblock %}
