{% extends "base.html" %}



{% block content %}
{% if user.is_authenticated  %}

<div style="width: 500px; margin: auto;padding-top: 30px;">
<h2>{{ cijena }} USD</h2>
<form action="{% url 'charge' cijena %}" method="post">  
     {% csrf_token %}  




<div class="form-group">
     <input type="email" class="form-control is-valid" placeholder="Your email *" id="validationServer01"  required name="email" value="{{ user.email }}" />
 </div>
 
 <div class="form-group">
     <input type="text" class="form-control is-valid" placeholder="Your firstname *" id="validationServer01"  required name="firstname" value="{{ user.firstname }}"/>
     
 </div>
 <div class="form-group">
     <input type="text" class="form-control is-valid" placeholder="Your lastname *" id="validationServer01"  required name="lastname" value="{{ user.lastname }}"/>
     
 </div>

 <div class="form-group">
     <input type="address" class="form-control is-valid" placeholder="Your address *" id="validationServer01"  required name="address" value="{{ user.address }}" />
 </div>



 <input type="number" class="form-control is-valid" placeholder="Your number *" id="validationServer01"  required name="number" value="{{ user.number}}" >

 <div class="col-12" style=" z-index: 9; padding-top: 20px;">
     <button class="btn btn-primary" type="submit" style="width: 200px; margin-left:  -20px;">Submit form</button>
   </div>
<div style="margin-top: -33px;">
<script src="https://checkout.stripe.com/checkout.js"
      
          class="stripe-button"       
          data-key="{{ key }}"          
          data-description="A Django Charge"          
          data-amount=""      
          data-locale="auto">
     </script>
</div>

 
</form>



</div>
     

{% else %}
<div style="width: 500px; margin: auto;padding-top: 30px;">
    <h2>{{ cijena }} USD</h2>

    <form action="{% url 'charge' cijena %}" method="post">  
         {% csrf_token %}  
    
    
    
    
    <div class="form-group">
         <input type="email" class="form-control is-valid" placeholder="Your email *" id="validationServer01"  required name="email"/>
     </div>
     
     <div class="form-group">
         <input type="text" class="form-control is-valid" placeholder="Your firstname *" id="validationServer01"  required name="firstname"/>
         
     </div>
     <div class="form-group">
         <input type="text" class="form-control is-valid" placeholder="Your lastname *" id="validationServer01"  required name="lastname" />
         
     </div>
    
     <div class="form-group">
         <input type="address" class="form-control is-valid" placeholder="Your address *" id="validationServer01"  required name="address"/>
     </div>
    
    
    
     <input type="number" class="form-control is-valid" placeholder="Your number *" id="validationServer01"  required name="number" >
    
     <div class="col-12" style=" z-index: 9; padding-top: 20px;">
         <button class="btn btn-primary" type="submit" style="width: 200px; margin-left:  -20px;">Submit form</button>
       </div>
    <div style="margin-top: -33px;">
    <script src="https://checkout.stripe.com/checkout.js"
          
              class="stripe-button"       
              data-key="{{ key }}"          
              data-description="A Django Charge"          
              data-amount="{{ cijena }}"      
              data-locale="auto">
         </script>
    </div>
    
     
    </form>
    
    
    
    </div>











{% endif %}
{% endblock %}