{% extends "adminBase.html" %}
{% block content %}
{% if user.is_authenticated and user.is_admin %}
<h2>Uredite slide</h2>
<div class="row">
<form method = "post" enctype="multipart/form-data">
  {% csrf_token %}
  

<label for="exampleFormControlFile1">slika1</label>
  <input type="file" class="form-control"  name="slika1" >

<label for="exampleFormControlFile1">slika2</label>
  <input type="file" class="form-control"  name="slika2" >

<label for="exampleFormControlFile1">slika3</label>
  <input type="file" class="form-control"  name="slika3" >




<button type="submit">Upload</button>
</form>
</div>




{% endif %}

  {% endblock %}
  